body{
  background-color:lightblue;
  background-position:center;
  background-size:cover;
  background-blend-mode: lighten;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: black;
}

h3 {
  font-size: 32px;
  color: yellow;
}

p {
  font-family: sans-serif;
  font-size: 18px;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    color: White;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: cursive;
    font-weight: bolder;
    opacity: 0.8;
}
